{% extends 'base.html' %}
{% block title %}
<title>Профиль №{{ profile.id }}</title>
{% endblock title %}

{% block content %}
<style>

    p.label {
        opacity: 70%;
    }


</style>

<div class="container-lg">
    <div class="card">
        <div class="card-header {{ entry.get_status_display }} "><h1 style="display: inline-block">Отдел №
            {{ division.id }}</h1></div>
        <div class="card-body">
            <div class="container-lg">
                <div class="row">
                    <div class="col">
                        <p class="label" style="margin: 0">Наименование отдела</p>
                        <h1>{{ division.name }}</h1>
                    </div>
                </div>
                <div class="row" style="margin-top: 1rem">
                    <div class="col">
                        <p class="label" style="margin: 0">Руководитель отдела</p>
                        <h1>{{ division.head }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="container-lg">
                <div class="row" style="margin-top: 0.2rem">
                    <div class="col">
                        <p class="label" style="margin: 0">Сотрудников отдела</p>
                        <h1>{{ employees|length }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}